﻿@using System.Globalization
@model WeatherListViewModel
@{
    ViewData["Title"] = "Архив";
}

<h2>Архив погодных условий</h2>
<ul class="nav nav-pills">
    <li class="navbar-text px-2">
        Группировка:
    </li>
    <li class="nav-item">
        <a asp-action="Yearly" is-active-route class="nav-link">По годам</a>
    </li>
    <li class="nav-item">
        <a asp-action="Monthly" is-active-route class="nav-link">По месяцам</a>
    </li>
</ul>

@foreach(WeatherViewModel weather in Model.WeatherList)
{
    <partial name="WeatherCard" model="weather"/>
}

<div page-model="@Model.PagingInfo" page-action="@(ViewContext.RouteData.Values["action"] as string)"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>