﻿@model FileUploadViewModel

@if (Model != null)
{
    <partial name="UploadAlert" model="Model"/>
}

<h4>Загрузка архивов погодных условий</h4>

<form enctype="multipart/form-data" method="post" asp-action="Upload">
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Файлы</label>
        <input name="files" class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>