﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <title>WeatherApp</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Погодные условия</a>
            <div class="navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            Архив
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Weather" asp-action="Monthly">Ежемесячные данные</a></li>
                            <li><a class="dropdown-item" asp-controller="Weather" asp-action="Yearly">Ежегодные данные</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Weather" asp-action="Upload">Загрузить</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
</body>
</html>
