﻿@model FileUploadViewModel

<div class="alert @(Model.IsSuccessful ? "alert-success" : "alert-danger") m-4" role="alert">
    <h4 class="alert-heading"> @(Model.IsSuccessful ? "Загрузка прошла успешно" : "При загрузке произошла ошибка")</h4>
    <p>@Model.Message</p>
</div>