﻿@using System.Globalization
@model WeatherViewModel

<div class="card m-2" style="width: 100%;">
    <div class="card-header">
        @if (Model.Month.HasValue)
        {
            @(new DateTime(1, Model.Month.Value, 1).ToString("MMMM ", new CultureInfo("ru-RU")))
        }
        @Model.Year г.
    </div>
    <div class="card-body" style="display: flex; flex-direction: row;">
        <ul class="list-group">
            <li class="list-group-item border-light">Температура: @Model.Temperature.ToString("0")°C</li>
            <li class="list-group-item border-light">Относительная влажность: @Model.Humidity.ToString("0")%</li>
            <li class="list-group-item border-light">Точка росы: @Model.DewPoint.ToString("F1") гр.</li>
            <li class="list-group-item border-light">Давление: @Model.Temperature.ToString("0") мм рт. ст.</li>
            <li class="list-group-item border-light">Направление ветра: @Model.WindDirection</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item border-light">Скорость ветра: @Model.WindSpeed.ToString("0") м/с</li>
            <li class="list-group-item border-light">Облачность: @Model.Cloudiness.ToString("0")%</li>
            <li class="list-group-item border-light">Нижняя граница облачности: @Model.CloudBase.ToString("0") м</li>
            <li class="list-group-item border-light">Видимость: @Model.HorizontalVisibility.ToString("0") км</li>
            <li class="list-group-item border-light">Погодные условия: @Model.WeatherConditions</li>
        </ul>
    </div>
</div>